/* styles.css */
body {
  direction: rtl;
}

#inuk, #braille {
  width: 150%;
  height: 320px;
  margin: 10px 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  resize: none;
  direction: rtl; /* إضافة هذه الخاصية لجعل النص من اليمين إلى اليسار */
  text-align: right; /* إضافة هذه الخاصية لجعل النص متجهًا لليمين */
}

#braille {
  background-color: #e6e6e6;
  cursor: not-allowed;
}

#copyButton {
  display: inline-block;
  padding: 13px 25px;
  font-size: 23px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 32px;
  cursor: pointer;
}

#copyButton:hover {
  background-color: #0056b3;
}